<section id="professional" class="py-16 px-4 md:px-8 dark:bg-gray-900">
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold mb-8 text-gray-900 dark:text-white">
        <span class="text-primary">{{ appName }}</span> pour les
        <span class="text-indigo-600">professionnels</span> de santé
      </h2>

      <p class="text-lg max-w-3xl mx-auto leading-relaxed text-gray-700 dark:text-gray-200">
        <span class="text-indigo-600 font-semibold">Simplifiez</span> la gestion de votre pratique
        et assurez un suivi optimal de vos patients grâce aux outils innovants de
        <span class="text-primary font-semibold">{{ appName }}</span
        >.
      </p>
    </div>

    <div
      class="grid grid-cols-1 bg-gradient-to-r from-gray-600 to-indigo-500 dark:from-violet-500 dark:to-indigo-700 p-5 rounded-2xl md:grid-cols-2 lg:grid-cols-4 gap-6 shadow-lg"
    >
      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_gestion_docu.jpg"
          alt="Gestion intuitive des documents"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">Gestion intuitive des documents</h3>
        <p class="text-gray-700 text-sm">
          Centralisez et gérez facilement vos papiers administratifs, factures et documents
          patients, pour une organisation simplifiée au quotidien.
        </p>
      </div>

      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_suivie_patient.jpg"
          alt="Suivi personnalisé des patients"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">Suivi personnalisé des patients</h3>
        <p class="text-gray-700 text-sm">
          Adaptez les recommandations et consultez le suivi des progrès de chaque patient, grâce à
          des outils de suivi conçus pour un accompagnement optimal.
        </p>
      </div>

      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_paiement_securiser.jpg"
          alt="Paiement sécurisé"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">Paiement sécurisé</h3>
        <p class="text-gray-700 text-sm">
          Bénéficiez d'une solution de paiement sécurisée intégrée, facilitant les transactions et
          renforçant la confiance avec vos patients.
        </p>
      </div>

      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_programme_personnaliser.jpg"
          alt="Création de programmes sur mesure"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">
          Création de programmes sur mesure
        </h3>
        <p class="text-gray-700 text-sm">
          Concevez et proposez des plans de soins personnalisés, offrant à vos patients un parcours
          adapté à leurs besoins spécifiques.
        </p>
      </div>
    </div>
  </div>
</section>
