<section id="method" class="py-16 px-4 md:px-8 dark:bg-gray-900">
  <div class="max-w-7xl mx-auto">
    <div class="text-center mb-16">
      <h2 class="text-4xl font-bold mb-8 text-gray-900 dark:text-white">
        Une méthode <span class="text-indigo-600">innovante</span> et
        <span class="text-primary">adaptée</span>
      </h2>

      <p class="text-lg max-w-3xl mx-auto leading-relaxed text-gray-700 dark:text-gray-200">
        <span class="text-primary font-semibold">{{ appName }}</span> propose des fonctionnalités
        pour soutenir le bien-être mental de manière innovante, en simplifiant les échanges entre
        professionnels et patients.
      </p>
    </div>

    <div
      class="grid grid-cols-1 bg-gradient-to-r from-indigo-600 to-gray-600 dark:from-indigo-500 dark:to-purple-700 p-5 rounded-2xl md:grid-cols-2 lg:grid-cols-4 gap-6 shadow-lg"
    >
      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_consultation.jpg"
          alt="Consultations en ligne"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">Consultations en ligne</h3>
        <p class="text-gray-700 text-sm">
          Accédez à des séances en visio avec des professionnels de santé mentale, en toute sécurité
          et depuis chez vous.
        </p>
      </div>

      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_suivi_perso.jpg"
          alt="Suivi personnalisé"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">Suivi personnalisé</h3>
        <p class="text-gray-700 text-sm">
          Suivez vos progrès grâce à des indicateurs personnalisés et recevez des notifications pour
          rester motivé.
        </p>
      </div>

      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_ressource_exercice.jpg"
          alt="Ressources et exercices"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">Ressources et exercices</h3>
        <p class="text-gray-700 text-sm">
          Accédez à une variété de ressources et d'exercices thérapeutiques adaptés à vos besoins.
        </p>
      </div>

      <div class="bg-white rounded-xl p-4 shadow-lg h-[350px]">
        <img
          src="/picture-landing-page/picture_forum_communautaire.png"
          alt="Forum de soutien communautaire"
          class="w-full h-40 object-contain mb-2"
        />
        <h3 class="text-indigo-600 text-lg font-semibold mb-2">Forum de soutien communautaire</h3>
        <p class="text-gray-700 text-sm">
          Participez à notre forum pour partager vos expériences et recevoir du soutien de la
          communauté.
        </p>
      </div>
    </div>
  </div>
</section>
