<app-navbar></app-navbar>

<main class="space-y-40 mb-40 sm:space-y-20">
  <div class="relative" id="home">
    <div
      aria-hidden="true"
      class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
    >
      <div
        class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
      ></div>
      <div
        class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
      ></div>
    </div>
    <div
      class="max-w-7xl h-full flex flex-col justify-center mx-auto px-6 md:px-12 xl:px-6 sm:h-screen"
    >
      <div class="relative pt-36 mx-auto">
        <div class="lg:w-2/3 text-center mx-auto my-auto">
          <h1
            class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
          >
            Ensemble, créons la 1ère <br class="hidden xl:block" /><span
              class="text-primary"
              >communauté</span
            >
            qui se soucie du <span class="text-primary">bien-être mental</span>.
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="inline w-10 h-10 md:w-14 md:h-14 text-secondary align-middle"
            >
              <path
                fill-rule="evenodd"
                d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z"
                clip-rule="evenodd"
              />
            </svg>
          </h1>
          <div class="mt-8 text-lg">
            <p class="mt-8 mx-4 text-gray-700 dark:text-gray-300">
              <span class="font-bold text-primary">MindCare</span> réduit la
              fracture entre patients et professionnels de santé en bâtissant
              une communauté dédiée au bien-être mental. Profitez de ressources
              et d'exercices thérapeutiques, ainsi que d'un suivi personnalisé
              de vos progrès pour améliorer votre santé mentale au quotidien.
            </p>
            <p class="mt-16 text-gray-700 dark:text-gray-300">
              <span class="text-primary font-bold"
                >Testez gratuitement pendant 7 jours</span
              >
              et rejoignez la communauté dès aujourd'hui.
            </p>
          </div>
          <div class="mt-4 flex flex-wrap justify-center gap-y-4 gap-x-6">
            <a
              href="#keep-in-touch"
              class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white"
                >Rejoindre la communauté</span
              >
            </a>
            <a
              href="#solution"
              class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
            >
              <span
                class="relative text-base font-semibold text-primary dark:text-white"
                >En savoir plus</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="solution" class="mt-6">
    <div
      class="max-w-7xl h-full flex flex-col justify-center mx-auto px-6 md:px-12 xl:px-6"
    >
      <div
        class="space-y-6 justify-between text-gray-600 mt-20 md:mt-0 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-1/2">
          <img
            src="/images/people_group.webp"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="my-8 text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
          >
            La puissance d'une
            <span class="text-primary font-bold">communauté solidaire</span>
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            Selon une étude de l'<span class="text-primary font-bold"
              >Organisation Mondiale de la Santé</span
            >&nbsp;<span class="text-red-700 font-bold text-xl">*</span>, les
            groupes de soutien en ligne peuvent être aussi efficaces que les
            thérapies traditionnelles pour améliorer la santé mentale, reflétant
            l'impact positif de notre communauté.
          </p>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            En rejoignant <span class="text-primary font-bold">MindCare</span>,
            vous ne faîtes pas seulement partie d'une plateforme de santé
            mentale, vous devenez un membre actif d'une communauté engagée dans
            la transformation de vies. Chez
            <span class="text-primary font-bold">MindCare</span>, nous croyons
            en la force de l'entraide et de la solidarité pour améliorer la
            santé mentale de chacun. Nous sommes fiers d'avoir la volonté de
            rassembler et de soutenir une communauté diversifiée et engagée,
            dédiée au soutien et à l'amélioration de la santé mentale.
          </p>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            <span class="inline align-middle text-red-700 font-bold text-xl"
              >*</span
            >&nbsp; <span class="text-primary font-bold">OMS</span> -
            Organisation Mondiale de la Santé.<br />
            <a
              href="https://www.who.int/publications/i/item/9789240049338"
              target="_blank"
              class="text-primary font-bold"
              >World Mental Health Report: Transforming Mental Health for All
              (2022)</a
            >.
            <a
              href="https://www.who.int/news/item/06-02-2024-announcement--who-meeting-report-released-on-mental-health-content-that-supports-young-people"
              target="_blank"
              class="text-primary font-bold"
              >Announcement: WHO meeting report released on mental health
              content that supports young people (2024)</a
            >.
          </p>
          <!-- <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
                    <div class="mt-8 flex gap-4 md:items-center">
                        <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                                <path
                                    d="m7.5 13a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm6.5 11h-13a1 1 0 0 1 -1-1v-.5a7.5 7.5 0 0 1 15 0v.5a1 1 0 0 1 -1 1zm3.5-15a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm-1.421 2.021a6.825 6.825 0 0 0 -4.67 2.831 9.537 9.537 0 0 1 4.914 5.148h6.677a1 1 0 0 0 1-1v-.038a7.008 7.008 0 0 0 -7.921-6.941z">
                                </path>
                            </svg>
                        </div>
                        <div class="w-5/6">
                            <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">
                                Consultations en ligne
                            </h4>
                            <p class="text-gray-500 dark:text-gray-400">
                                Bénéficiez de séances en visio avec des professionnels de santé
                                mentale, en toute sécurité et depuis chez vous.
                            </p>
                        </div>
                    </div>
                    <div class="pt-4 flex gap-4 md:items-center">
                        <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                                <path
                                    d="M12,24c-1.65,0-3-1.35-3-3V3c0-1.65,1.35-3,3-3s3,1.35,3,3V21c0,1.65-1.35,3-3,3Zm9,0c-1.65,0-3-1.35-3-3V9c0-1.65,1.35-3,3-3s3,1.35,3,3v12c0,1.65-1.35,3-3,3Zm-18,0c-1.65,0-3-1.35-3-3v-6c0-1.65,1.35-3,3-3s3,1.35,3,3v6c0,1.65-1.35,3-3,3Z">
                                </path>
                            </svg>
                        </div>
                        <div class="w-5/6">
                            <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">
                                Suivi personnalisé
                            </h4>
                            <p class="text-gray-500 dark:text-gray-400">
                                Suivez vos progrès grâce à des indicateurs personnalisés et
                                recevez des notifications pour rester motivé.
                            </p>
                        </div>
                    </div>
                </div> -->
        </div>
      </div>
    </div>
  </div>

  <div id="solution" class="mt-6">
    <div
      class="max-w-7xl h-full flex flex-col justify-center mx-auto px-6 md:px-12 xl:px-6"
    >
      <div
        class="space-y-6 justify-between text-gray-600 mt-20 md:mt-0 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12"
      >
        <div class="md:5/12 lg:w-1/2">
          <h2
            class="my-8 text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
          >
            L'efficacité de l'<span class="text-primary font-bold"
              >auto-thérapie</span
            >
          </h2>
          <div
            class="mt-16 grid grid-cols-1 divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700"
          >
            <div
              class="relative dark:bg-indigo-600 bg-purple-300 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
            >
              <div class="relative space-y-8 py-12 p-8">
                <img
                  src="/images/orange_chars/man_reading_coussin.webp"
                  alt="image"
                  loading="lazy"
                  class="w-20"
                  width=""
                  height=""
                  alt="Auto-thérapie guidée et personnalisée"
                />
                <div class="space-y-2">
                  <h5
                    class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
                  >
                    Auto-thérapie guidée et personnalisée
                  </h5>
                  <p class="text-gray-700 dark:text-gray-100">
                    Selon une étude de l'<span
                      class="text-primary font-bold dark:text-sky-300"
                      >American Psychological Association</span
                    >&nbsp;<span
                      class="text-red-700 font-bold text-xl dark:text-red-300"
                      >*</span
                    >, l'auto-thérapie guidée peut être aussi bénéfique que les
                    séances de thérapie traditionnelles, en particulier
                    lorsqu'elle est accompagnée d'un suivi régulier et
                    personnalisé. Chez
                    <span class="text-primary font-bold dark:text-sky-300"
                      >MindCare</span
                    >, nous intégrons cette approche pour offrir des ressources
                    et des exercices thérapeutiques fondés sur les meilleures
                    pratiques en psychologie.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="md:5/12 lg:w-1/2 flex flex-col items-center justify-end">
          <p class="mb-4 text-gray-600 dark:text-gray-300">
            Les ressources éducatives et les exercices thérapeutiques de
            <span class="text-primary font-bold">MindCare</span> sont conçus par
            des étudiants en psychologie et psychiatrie, et co-construits avec
            les praticiens de la communauté, apportant des perspectives
            académiques récentes et des méthodologies éprouvées. En mettant
            l'accent sur l'auto-thérapie, ces ressources permettent aux
            utilisateurs de prendre en main leur parcours de soin tout en
            bénéficiant d'un suivi rigoureux de leurs progrès.
          </p>
          <p class="my-4 text-gray-600 dark:text-gray-300">
            En utilisant les ressources de
            <span class="text-primary font-bold">MindCare</span>, vous avez
            accès à des outils éducatifs et thérapeutiques de haute qualité,
            conçus pour vous aider à comprendre et gérer vos défis
            psychologiques. La combinaison de l'auto-thérapie et du suivi des
            progrès offre une approche complète et flexible, favorisant des
            résultats durables et positifs pour votre santé mentale.
          </p>
          <p class="mt-4 text-gray-600 dark:text-gray-300">
            <span class="inline align-middle text-red-700 font-bold text-xl"
              >*</span
            >&nbsp; <span class="text-primary font-bold">APA</span> - American
            Psychological Association.<br />
            <a
              href="https://www.who.int/publications/i/item/9789240049338"
              target="_blank"
              class="text-primary font-bold"
              >World Mental Health Report: Transforming Mental Health for All
              (2022)</a
            >.<br />
            <a
              href="https://www.who.int/news/item/06-02-2024-announcement--who-meeting-report-released-on-mental-health-content-that-supports-young-people"
              target="_blank"
              class="text-primary font-bold"
              >Announcement: WHO meeting report released on mental health
              content that supports young people (2024)</a
            >.
          </p>
          <!-- <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
                    <div class="mt-8 flex gap-4 md:items-center">
                        <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                                <path
                                    d="m7.5 13a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm6.5 11h-13a1 1 0 0 1 -1-1v-.5a7.5 7.5 0 0 1 15 0v.5a1 1 0 0 1 -1 1zm3.5-15a4.5 4.5 0 1 1 4.5-4.5 4.505 4.505 0 0 1 -4.5 4.5zm-1.421 2.021a6.825 6.825 0 0 0 -4.67 2.831 9.537 9.537 0 0 1 4.914 5.148h6.677a1 1 0 0 0 1-1v-.038a7.008 7.008 0 0 0 -7.921-6.941z">
                                </path>
                            </svg>
                        </div>
                        <div class="w-5/6">
                            <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">
                                Consultations en ligne
                            </h4>
                            <p class="text-gray-500 dark:text-gray-400">
                                Bénéficiez de séances en visio avec des professionnels de santé
                                mentale, en toute sécurité et depuis chez vous.
                            </p>
                        </div>
                    </div>
                    <div class="pt-4 flex gap-4 md:items-center">
                        <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                                <path
                                    d="M12,24c-1.65,0-3-1.35-3-3V3c0-1.65,1.35-3,3-3s3,1.35,3,3V21c0,1.65-1.35,3-3,3Zm9,0c-1.65,0-3-1.35-3-3V9c0-1.65,1.35-3,3-3s3,1.35,3,3v12c0,1.65-1.35,3-3,3Zm-18,0c-1.65,0-3-1.35-3-3v-6c0-1.65,1.35-3,3-3s3,1.35,3,3v6c0,1.65-1.35,3-3,3Z">
                                </path>
                            </svg>
                        </div>
                        <div class="w-5/6">
                            <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">
                                Suivi personnalisé
                            </h4>
                            <p class="text-gray-500 dark:text-gray-400">
                                Suivez vos progrès grâce à des indicateurs personnalisés et
                                recevez des notifications pour rester motivé.
                            </p>
                        </div>
                    </div>
                </div> -->
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>