<div class="relative w-full h-screen">
  <div *ngIf="!callEnded">
    <app-video [srcObject]="remoteStream" [controls]="false" class="absolute inset-0"></app-video>
    <div [ngClass]="{'right-4': true, 'md:right-[92.5%]': isSideDashboardOpen, 'md:right-4': !isSideDashboardOpen }"
      class="absolute top-4 z-20 p-2 transition-none md:transition-all md:duration-300 md:ease-in-out">
    <button (click)="toggleSideDashboard()"
            class="w-12 h-12 z-10 bg-gray-600 text-white rounded-full hover:bg-gray-700 flex items-center justify-center">
      <fa-icon [icon]="isSideDashboardOpen ? faTimes : faBars"></fa-icon>
    </button>
    </div>
    <div
      class="absolute top-4 left-2 w-auto h-48 border-2 border-gray-200 border-opacity-50 rounded-lg overflow-hidden md:w-64 md:top-auto md:bottom-4 md:left-4">
      <app-video [srcObject]="localStream" [controls]="false" class="w-full h-full"></app-video>
    </div>
    <div
      class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-4 bg-gray-200 bg-opacity-50 p-2 rounded-full">
      <button (click)="hangUp()"
        class="w-12 h-12 bg-red-600 text-white rounded-full hover:bg-red-700 flex items-center justify-center">
        <fa-icon [icon]="faPhone"></fa-icon>
      </button>
      <button (click)="toggleMute()"
        class="w-12 h-12 bg-gray-600 text-white rounded-full hover:bg-gray-700 flex items-center justify-center">
        <fa-icon [icon]="muted ? faMicrophoneSlash : faMicrophone"></fa-icon>
      </button>
    </div>
    <div [ngClass]="{'translate-x-0': isSideDashboardOpen, 'translate-x-full': !isSideDashboardOpen }"
      class="absolute top-0 right-0 z-10 w-screen md:z-0 md:w-[92%] h-full overflow-y-auto bg-white bg-opacity-90 text-black p-4 transition-transform duration-300 ease-in-out dark:bg-gray-800 dark:bg-opacity-90 dark:text-gray-300">
      <div class="space-y-4">
        <h2 class="text-2xl font-bold my-5 md:my-0">Tableau de bord professionnel</h2>

        <!-- Dossier médical -->
        <div class="bg-gray-100 p-4 rounded-lg dark:bg-gray-900">
          <h3 class="text-xl font-semibold">Dossier médical</h3>
          <div>
            <app-medical-record></app-medical-record>
          </div>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg dark:bg-gray-900">
          <div class="flex justify-between items-center cursor-pointer" (click)="togglePrescriptionSection()">
            <h3 class="text-xl font-semibold" [ngClass]="{'mb-4': showPrescriptionForm}">
              Créer une prescription
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" [ngClass]="{'rotate-180': showPrescriptionForm, 'rotate-90': !showPrescriptionForm}" class="w-6 h-6 transition-transform duration-300">
              <path fill-rule="evenodd" d="M12 8a1 1 0 01.7.3l5 5a1 1 0 01-1.4 1.4L12 10.42l-4.3 4.3a1 1 0 01-1.4-1.4l5-5A1 1 0 0112 8z" clip-rule="evenodd" />
            </svg>
          </div>
          <div [ngClass]="{'max-h-screen overflow-visible translate-y-0 opacity-100': showPrescriptionForm, 'max-h-0 overflow-hidden translate-y-8 opacity-0': !showPrescriptionForm}"
          class="transition-max-height duration-300 ease-in-out transform-gpu">
            <form [formGroup]="prescriptionForm" (ngSubmit)="onSubmitPrescription()" class="grid grid-cols-1 gap-4">
              <div formArrayName="prescriptions" *ngFor="let prescription of prescriptions.controls; let i = index">
                <div [formGroupName]="i" class="grid grid-cols-1 lg:grid-cols-3 gap-4">
                  <div class="col-span-3 lg:col-span-1">
                    <label class="block text-gray-700 dark:text-gray-300">
                      Médicament
                      <span *ngIf="prescription.get('drug')?.errors?.['required'] && prescription.get('drug')?.touched"
                        class="text-red-600 text-md">*</span>
                    </label>
                    <input formControlName="drug" type="text" placeholder="Nom du médicament"
                      class="w-full px-3 py-2 mt-1 border border-gray-300 rounded-lg shadow-sm text-gray-700 dark:text-gray-300 focus:outline-none focus:ring-purple-400 focus:border-purple-400" />
                  </div>
                  <div class="col-span-3 lg:col-span-1">
                    <label class="block text-gray-700 dark:text-gray-300">
                      Dosage
                      <span *ngIf="prescription.get('dosage')?.errors?.['required'] && prescription.get('dosage')?.touched"
                        class="text-red-600 text-md">*</span>
                    </label>
                    <input formControlName="dosage" type="text" placeholder="Dosage du médicament"
                      class="w-full px-3 py-2 mt-1 border border-gray-300 rounded-lg shadow-sm text-gray-700 dark:text-gray-300 focus:outline-none focus:ring-purple-400 focus:border-purple-400" />
                  </div>
                  <div class="col-span-3 lg:col-span-1">
                    <label class="block text-gray-700 dark:text-gray-300">
                      Durée
                      <span *ngIf="prescription.get('duration')?.errors?.['required'] && prescription.get('duration')?.touched"
                        class="text-red-600 text-md">*</span>
                    </label>
                    <input formControlName="duration" type="text" placeholder="Durée du traitement"
                      class="w-full px-3 py-2 mt-1 border border-gray-300 rounded-lg shadow-sm text-gray-700 dark:text-gray-300 focus:outline-none focus:ring-purple-400 focus:border-purple-400" />
                  </div>
                  <div class="col-span-3">
                    <label class="block text-gray-700 dark:text-gray-300">Commentaire</label>
                    <textarea formControlName="comment" rows="1" placeholder="Laissez un commentaire sur la prise du médicament"
                      class="w-full px-3 py-2 mt-1 border border-gray-300 resize md:resize-none rounded-md shadow-sm text-gray-700 dark:text-gray-300 focus:outline-none focus:ring-purple-400 focus:border-purple-400"></textarea>
                  </div>
                  <div class="flex justify-end col-span-3 lg:col-span-3 flex justify-end">
                    <button type="button" (click)="removePrescription(i)"
                      class="relative flex h-11 w-full lg:w-auto items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-red-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                      <span class="relative text-base font-semibold text-white">Supprimer</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-span-1 lg:col-span-3 flex justify-end">
                <div *ngIf="prescriptionFormSubmitted && hasPrescriptionFormErrors()" class="text-red-600 mt-5 text-md">
                  Veuillez remplir tous les champs correctement.
                </div>
              </div>
              <div class="col-span-1 gap-x-4 lg:col-span-3 flex justify-between">
                <button type="button" (click)="addPrescription()"
                  class="relative flex h-11 w-full lg:w-auto items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-gray-300 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                  <span class="relative text-base font-semibold text-gray-700 dark:text-gray-300">Ajouter une ligne</span>
                </button>
                <button type="submit"
                  class="relative flex h-11 w-full lg:w-auto items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                  <span class="relative text-base font-semibold text-white">Créer un PDF</span>
                </button>
              </div>
            </form>
          </div>
        </div>        

        <div class="bg-gray-100 p-4 rounded-lg dark:bg-gray-900">
          <h3 class="text-xl font-semibold">Chat avec le patient</h3>
          <div class="border p-4 h-64 overflow-y-scroll dark:border-gray-600">
            <app-chat></app-chat>
          </div>
          <div class="mt-4 flex">
            <input type="text" class="w-full p-2 border rounded-l dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300" name="chatMessage" placeholder="Écrire un message...">
            <button class="bg-primary text-white px-4 py-2 rounded-r">Envoyer</button>
          </div>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg dark:bg-gray-900">
          <h3 class="text-xl font-semibold">Statistiques de progrès</h3>
          <div>
            <app-progress-stat></app-progress-stat>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="callEnded" class="absolute inset-0 flex items-center justify-center">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <p class="text-xl text-gray-700 dark:text-gray-300 md:text-2xl">La visioconférence est terminée.</p>
  </div>
  <div *ngIf="showSatisfactionForm" class="absolute inset-0 px-3 flex items-center justify-center">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <div
      class="z-10 flex justify-center items-center w-full max-w-xl my-auto mx-auto p-[2.5px] bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700 rounded-lg lg:mx-0">
      <div class="p-4 space-y-6 bg-white dark:bg-gray-800 rounded-md md:p-8">
        <p class="text-gray-700 mb-10 dark:text-gray-300">
          Votre avis est important pour nous. Veuillez remplir le formulaire de satisfaction ci-dessous.
        </p>
        <app-form [config]="satisfactionFormConfig['satisfaction']" (formSubmit)="onFormSubmit($event)"></app-form>
      </div>
    </div>
  </div>
</div>